$background: black;
$foreground: white;
$backgroundColorOne: #000000;
$backgroundColorTwo: #838383;

// Breakpoints
$breakpoint-max-desktop: 1200px;
$breakpoint-mobile: 767px;

// Breathe animation
$grid-gap: 2.09vw;
$gray: #838383;
$websiteWidth: 1440;
